.daily-wrapper{
    position: absolute;
    width: 820px;
    top: 300px;
    display: flex;
    justify-content: space-between;
}

.daily-title{
    margin-left: 32px;
    font-weight: 500;
    font-size: 15px;
}

.daily-legend{
    display: flex;
}

.daily-legend-item{
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.daily-legend-point{
    height: 8px;
    width: 8px;
    margin-right: 10px;
    border-radius: 50%;
}

.point-red{
    background-color: #E60000;
}

.point-black{
    background-color: #282D30;
}

.daily-legend-text{
    font-weight: 500;
    font-size: 14px;
    color: #9B9EAC;
}